@font-face {
    font-family: tempo;
    src: url('../img/forque.ttf');
}

html {
    margin: 0;
    padding: 0;
}

body {
    background: #0076c8;
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#title {
    font-family: tempo;
    text-align: center;
    color: #a2d057;
    font-size: 2.5em;
    letter-spacing: 10px;
    text-shadow: 5px 5px 7px rgba(33, 33, 33, 1);
}

h1 {
    margin: 10px;
}

#logo {
    width: 120px;
    height: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 10px
}

.chart {
    border: 1px solid grey;
    display: block;
    margin: auto;
    margin-top : 10px
}

.switchedOnStory {
    fill: #F1601D;
}

.switchedOffStory {
    fill: #ADAFB3;
}
.ageLayer {
    fill: #0076c8;
}

.storyText {
    fill: #000000;
    font-family: arial;
    font-size: 0.8em;
}
.ageText {
    fill: #000000;
    font-family: arial;
    font-size: 0.8em;
}

.storyId {
    fill: #000000;
    font-family: arial;
    font-size: 0.6em;
}

#icons img {
    margin-right: 95px;
    margin-left: 95px;
}

.beige {
    fill: #BBAE93
}

#chart {
    background: #E7E0D2;
}

.gitBg {
    fill: #FFFFFF;
    opacity: 0.7;
}

.testBg {
    fill: #FFFFFF;
    /*fill: #BBAE93;*/
}

.drBg {
    fill: #FFFFFF;
    /*fill: #a2d057;*/
    opacity: 0.7;
}
.prodBg {
    /*fill: #a2d057;*/
    fill: #FFFFFF;
}

.switchedOff {
    fill: #ADAFB3
}

.layerToggleBtn {
    background-color: #a2d057;
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid darkgreen;
    /*border-radius: 3px 3px 3px 3px;*/
    box-shadow: 5px 5px 7px rgba(33, 33, 33, 1);
}

#chart {
    box-shadow: 5px 5px 7px rgba(33, 33, 33, 1);
}

#buttonsDiv {
    text-align: right;
    margin-top: 10px;
    margin-right: 125px;
}